.activeArrowButton {
  background-color: var(--flame-orange-color);
  color: #fff;
}

.arrowButton {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background-color: transparent;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 600;
}
.arrowButton:hover {
  background-color: var(--flame-orange-color);
}

.disabled {
  color: gray;
  cursor: not-allowed;
  pointer-events: none;
}

.itemsPerPageContainer {
  margin-top: 20px;
  text-align: right;
  font-size: 14px;
}

.leftSeparator {
  margin-left: 10px;
  color: #949494;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: right;
  list-style: none;
  padding: 0;
}

.paginationContainer {
  margin-top: 20px;
  text-align: center;
}

.pageInfo {
  margin-bottom: 10px;
}

.pageItem {
  margin: 0 5px;
}

.pageButton {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background-color: transparent;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pageButton.active {
  background-color: var(--flame-orange-color);
  color: #fff;
}

.pageButton:focus {
  outline: none;
}

.separator {
  margin-right: 10px;
  color: #949494;
}
