.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin-top: 40px;
  text-align: center;
  width: 90%;
}

.flexContainer {
  align-self: start;
  display: flex;
  margin-top: 20px;
}

.errMsg {
  color: red;
  font-size: 14px;
  margin: 0px 2px 4px 4px;
}