.container {
  width: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 40px 0px 40px;
}

.errMsg {
  color: red;
  font-size: 14px;
  margin: 0px 2px 4px 4px;
}