.button {
  background-color: #FAFAFF;
  border: 3px solid #1F3770;
  border-radius: 50%;
  color: #1F3770;
  grid-column: 38;
  grid-row: 1;
  height: 35px;
  margin-top: 10px;
  width: 35px;
  z-index: 75;
}

.buttonUnstyled {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
}

/*---------------------
  Shopping Cart Buttons
-----------------------*/
.checkOutButton {
  background: var(--flame-orange-color);
  border: none;
  border-radius: 10px;
  color: var(--ghost-white-color);
  cursor: pointer;
  font-family: var(--body-font);
  font-weight: 600px;
  margin-top: 2em;
  margin-left: 40px;
  padding: 0.5rem 3rem;
  width: 75%;
}

.payButton {
  background: #666666;
  border-radius: 20px;
  color: #EEEEEE;
  cursor: pointer;
  font-weight: 600px;
  height: 3em;
  justify-self: center;
  width: 75%;
}

.sideNavButton {
  padding-top: 5px;
  text-wrap: nowrap;
  font-size: 15px;
  color: #1F3770;
  border: none;
  background-color: #FAFAFF;
}

.sideNavButton:hover {
  cursor: pointer;
}

.sideNavSubmitButton {
  margin-top: 10px;
  color: #FAFAFF;
  background-color: #85919D;
  font-weight: bold;
  font-size: 16px;
  margin-left: 20px;
  width: 70px;
  height: 25px;
  border: none;
  border-radius: 3px;
  box-shadow: 6px 6px 5px lightgray;
}

.sideNavSubmitButton:hover {
  cursor: pointer;
  color: #1F3770;
  border: solid #1F3770 2px;
}

.viewButton {
  background: var(--cadet-gray-color);
  border: none;
  border-radius: 3px;
  color: var(--ghost-white-color);
  cursor: pointer;
  font-family: var(--body-font);
  font-weight: 500;
  padding: 5px;
  width: 75px;
}

.viewButton:hover {
  opacity: 75%;
}



.loginButton:hover {
  opacity: 75%;
}

.loginFormButton {
  color: var(--ghost-white-color);
  border-radius: 3px;
  border: 2px solid var(--cadet-gray-color);
  height: 50px;
  background-color: var(--cadet-gray-color);
  font-family: var(--body-font);
  font-size: 1.1em;
  cursor: pointer;
  margin-top: 20px;
}

.loginFormButton:hover {
  opacity: 75%;
}

.closeButton {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 1.25em;
  font-weight: 700;
}

.closeButton:hover {
  opacity: 75%;
}

.buttonUnstyledAbsolute {
  position: absolute;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  right: 0;
  color: var(--yale-blue-color);
}

/* User Menu */

.loginButton,
.menuOpen {
  color: var(--cadet-gray-color);
  border-radius: 3px;
  border: 2px solid var(--cadet-gray-color);
  height: 37.5px;
  padding: 0px 20px;
  background-color: var(--ghost-white-color);
  font-family: var(--body-font);
  font-size: 1em;
  cursor: pointer;
  z-index: 51;
  display: flex;
  align-items: center;
}

.menuOpen {
  border-bottom-width: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.menuItemBorder,
.menuItem {
  color: var(--cadet-gray-color);
  font-family: var(--body-font);
  font-size: 1em;
  background: var(--ghost-white-color);
  height: 37.5px;
  border-width: 0px;
  display: flex;
  place-items: center;
  justify-content: center;
  cursor: pointer;
}

.menuItemBorder {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom: 1px solid var(--cadet-gray-color);
}

.menuItemBorder:hover,
.menuItem:hover {
  cursor: pointer;
  color: color-mix(in srgb, currentColor 25%, transparent);
}

.linkButton,
.linkButtonError {
  border: none;
  text-decoration: underline;
  color: var(--yale-blue-color);
  margin-top: 20px;
  background: none;
  font-family: var(--body-font);
  font-size: 1.1em;
}

.linkButtonError {
  font-size: inherit;
  margin-top: 0px;
  font-family: var(--body-font);
  color: red;
}

.linkButton:hover,
.linkButtonError:hover {
  cursor: pointer;
  opacity: .75;
}