.displayedProducts, .noBackground {
    margin-bottom: 20px;
    width: calc(100% - 60px);
    padding: 5px 30px 30px 30px;
    background: linear-gradient(325deg, rgba(197, 197, 198, 1) 0%, rgba(233, 235, 237, 1) 48%);
}

.noBackground {
    background: none;
}

.displayedProductsList {
    display: flex;
    justify-content: space-between;
}

.heading {
    color: var(--jet-black-color);
    font-family: "Lato", sans-serif;
    text-wrap: nowrap;
}

.title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}