.headerContainer {
  background-color: var(--ghost-white-color);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
  font-family: var(--body-font);
  font-size: 1.1em;
  font-weight: var(--font-bold);
  height: 100px;
  width: 100%;
}

.navContainer {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 0px auto;
  width: 97.5%;
}

/*----------------------
  Navigation Menu Items
  -----------------------*/
.imageContainer img {
  width: 350px;
  object-fit: contain;
}

.navItem {
  color: var(--yale-blue-color);
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

.navItem:hover {
  border-bottom: 4px solid var(--flame-orange-color);
  border-radius: 4px;
  transition: 0.2s;
}

.active {
  border-bottom: 4px solid var(--flame-orange-color);
  border-radius: 4px;
  color: var(--flame-orange-color) !important;
}

.navGroup {
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 30%;
  max-width: 350px;
  min-width: 225px;
  list-style: none;
  padding-left: 40px;
}

.navGroup:last-of-type {
  gap: 1em;
}

.shoppingCart {
  color: var(--yale-blue-color);
}

.shoppingCartActive {
  color: var(--flame-orange-color);
}

.shoppingCartCustomBadge {
  background-color: var(--flame-orange-color);
  color: var(--ghost-white-color);
  font-family: var(--body-font);
}

.shoppingCartRoot {
  height: 1.75rem;
  width: auto;
}

/* Responsive Styles */
@media screen and (max-width: 975px) {
  .headerContainer {
    height: auto;
  }

  .navContainer {
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
  }

  .navGroup {
    width: 80%;
    justify-content: space-between;
    padding-left: 0;
  }

  .navGroup:last-of-type {
    margin-top: 0px;
  }

  .navItem {
    font-size: 1em;
  }
}