.headerContainer {
  background-color: var(--ghost-white-color);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
  font-family: var(--body-font);
  font-size: 1.2em;
  font-weight: var(--font-bold);
  height: 100px;
  width: 100%;
}

.navContainer {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 0px auto;
  width: 95%;
}

/*----------------------
  Navigation Menu Items
  -----------------------*/
.navItem {
  color: var(--yale-blue-color);
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

.active {
  border-bottom: 4px solid var(--flame-orange-color);
  border-radius: 4px;
  color: var(--flame-orange-color) !important;
}

.navGroup {
  display: flex;
  gap: 2.5em;
  margin-left: auto;
}

.imageContainer {
  display: flex;
}

.navList {
  align-items: center;
  display: flex;
  gap: 2.5em;
  list-style: none;
}

.navList:last-of-type {
  gap: 1.5em;
}

.shoppingCart {
  color: var(--yale-blue-color);
  padding: 0.25rem 0 0 1rem;
}

.shoppingCartActive {
  color: var(--flame-orange-color);
}

.shoppingCartCustomBadge {
  background-color: var(--flame-orange-color);
  color: var(--ghost-white-color);
  font-family: var(--body-font);
}

.shoppingCartRoot {
  height: 1.75rem;
  width: auto;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .navContainer {
    flex-direction: column;
    justify-content: center;
  }

  .navList {
    column-gap: 1rem;
    flex-direction: row;
    justify-content: center;
    padding-left: 0;
  }

  .navItem {
    font-size: 0.9rem;
    margin: 0;
  }
}