.content {
  color: var(--cadet-blue-color);
}

.footer {
  align-items: center;
  background-color: var(--ghost-white-color);
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  font-family: var(--body-font);
  height: 100px;
  justify-content: center;
  margin-top: 40px;
  bottom: 0;
  width: 100%;
  align-self: flex-end;
}

.footerBox {
  display: flex;
  justify-content: flex-end;
  width: 95%;
}