/*---------------------
  Search Container 
-----------------------*/
.searchContainer {
  align-items: center;
  border: 2px solid var(--cadet-gray-color);
  border-radius: 20px;
  display: flex;
  font-family: var(--body-font);
  font-weight: 500;
  height: calc(37.5px - 4px);
  padding: 2px 5px;
  min-width: 125px;
}

.searchIconBtn {
  margin-right: 5px;
}

.inputRoot {
  font-family: var(--body-font);
  width: 100%;
}

.inputInput {
  transition: width 0.3s ease;
  width: calc(100% - 10px);
  padding: 0px;
}

.error {
  color: #dd6031;
  font-size: small;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
}

.noError {
  margin: 0;
  color: #dd6031;
}

/*---------------------
  Search Results
-----------------------*/
.searchResultPageContainer {
  min-height: 100vh;
  width: c(100% - 40px);
  padding: 20px;
  position: relative;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.noResultContainer {
  padding-bottom: 329px;
}

.title {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

.titleNoResults {
  font-size: 24px;
  text-align: left;
  margin-left: 30px;
}

.dividingLine {
  width: 1330px;
  border: 1px solid #B1B2B5;
  margin-right: auto;
  margin-left: auto;
  margin-top: 54px;
  margin-bottom: 54px;
}

.productGrid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.productCard img {
  max-width: 100%;
}

.productCard h3 {
  font-size: 18px;
  margin-top: 10px;
}

.productCard p {
  font-size: 16px;
  margin-top: 10px;
}

.searchResults {
  font-size: 24px;
  font-weight: 500;
}

.button {
  width: fit-content;
  font-family: var(--body-font);
  display: flex;
  place-items: center;
  padding: 0.6em 2em;
  height: 25px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:before {
  content: "";
  background: linear-gradient(45deg,
      #DD6031,
      #1F3770);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}