.checkoutContainer {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "order    delivery    payment"
    "order    delivery    summary"
    "order    delivery    payNow";
  gap: 1em 2em;
  padding: 0 2em;
  margin: 2em 0;
}

.checkoutContainer2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "order    subtotal"
    "order    delivery"
    "order    summary";
  gap: 1em 1.5em;
  padding: 0 2em;
  margin: 2em 0;
  min-height: calc(100vh - 2em);
}

.delivery {
  grid-area: delivery;
}

.subtotal {
  grid-area: subtotal;
}

.price {
  padding: 1em;
}
.order {
  grid-area: order;
}

.payment {
  grid-area: payment;
}

.payNow {
  grid-area: payNow;
  display:grid;
}

.step {
  background: #fff;
  border-radius: 2px;
  box-shadow: .2em .2em .2em rgba(0,0,0,0.23);
  padding: 1em;
}

.summary {
  grid-area: summary;
}

.title {
  text-transform: uppercase;
  color: var(--jet-black-color);
  font-family: var(--body-font);
  margin: 0 0 1em 0;
}

.useSameAddress {
  display: inline-block;
  margin: 1em 1em 0 0;
}

.sameAddressText {
  color: #666666;
  font-weight: 700;
}

/*---------------------
  Empty Cart Page 
-----------------------*/
.emptyCartContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: calc(100vh - 140px);
  position: relative;
}

.emptyCartMessage {
  text-align: center;
  padding: 20px;
}