p {
  color: var(--cadet-grey-color);
}

.orderItem {
  display:grid;
  grid-template-columns: 2fr 3fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 1em;
  align-items: center;
}

.itemTitle {
  font-weight: 700;
}

.price {
  align-self: end;
  justify-self: end;
}

.typography,
.subtitle {
    color: var(--jet-black-color);
    display: flex;
    font-family: var(--body-font);
    margin-top: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.subtitle {
    font-weight: 700;
}